<html><head>
		<script type="text/javascript" src="/static/vgulage/js/jquery.js"></script>
		<script src="/static/vgulage/js/index.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/vgulage\\css\\index.css">

		<title>
			ВГулаге
		</title>

	</head>
	<body>

		<div id="content" style="width: 1200px; margin-left: 120px;">

			<div id="page_header" class="gradient">

				<img id="logo" src="/static/vgulage/images/logo.png">

			</div>

            <div id="page_body" class="fl_r " style="width: 80%;">
                <div class="narrow_column_wrap fl_l">
                    <div id="narrow_column">
                        <div class="page_block page_photo">
                            <img id="profilepic" class="page_avatar_img" src="/static/vgulage\\images\\default_user.jpg" "="">
                            <h1 class="flat_button button_wide secondary">
                                Редактировать
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="wide_column_wrap">
                    <div class="wide_column" id="wide_column">
                        <div class="page_block">
                            <div class="page_info_wrap">
                                <div class="page_top">
                                    <h4 class="profile_online">
                                        <div id="profile_online_lv">
                                            Online

                                        </div>

                                    </h4>
                                    <h2 class="page_name"> Константин Рыбкин</h2>
                                </div>
                                <div class="profile_info profile_info_short" id="profile_short">
                                    <div class="clear_fix profile_info_row ">
                                        <div class="label fl_l">День рождения:</div>
                                        <div class="labeled"><a>19 марта</a></div>
                                    </div><div class="clear_fix profile_info_row ">
                                    <div class="label fl_l">Город:</div>
                                    <div class="labeled"><a>Санкт-Петербург</a></div>
                                </div><div class="clear_fix profile_info_row ">
                                    <div class="label fl_l">Семейное положение:</div>
                                    <div class="labeled"><a>Рыбкин</a></div>

                                </div><div class="clear_fix profile_info_row ">
                                    <div class="label fl_l">Ссылка на ГУЛАГ:</div>
                                    <div class="labeled"><a href="https://drive.google.com/drive/folders/176pZEgSUM9f6l5yibau9wnmwOa_9FehI">Ссылка на мой ГУЛАГ</a> </div>
                                </div><div class="profile_more_info">
                                    <!-- <a class="profile_more_info_link" onclick="Profile.toggleInfo(this)">
                                        <span class="profile_label_more">Показать подробную информацию</span>
                                        <span class="profile_label_less">Скрыть подробную информацию</span>
                                    </a> -->
                                </div>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>

            </div>

			<div id="side_bar" class="side_bar_inner" style="width: 200px; position: relative; margin-top: 41.9886px;">

				<ol>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Моя Страница</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Новости</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Сообщения</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Друзья</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Группы</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Фотографии</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Аудиозаписи</span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a class="left_row">
                                <h5></h5>
                                <span class="left_fixer">
                                    <span class="left_count_wrap fl_r left_void">
                                        <span class="inl_bl left_count_sign">0</span>
                                    </span>
                                    <span class="left_icon fl_l" style="background-image: url( /static/vgulage/images/icons/fr_icon.png )">

                                    </span>
                                    <span class="left_label inl_bl">Видеозаписи</span>
                                </span>
                            </a>
                        </li>


                </ol>

			</div>



		</div>



</body></html>